<div>
    <div class="picture-group-title">
        <span>{{selectedRover}} Rover Pictures</span>
    </div>
    <div class="row pics-container">
        <div *ngFor="let pic of photos" class="col-md-2 pic-card-container" [class.selectedPicture]="pic === selectedPicture" (mouseover)="mouseOver(pic)" (mouseleave)="mouseLeave()">
            <div *ngIf="selectedPicture === this.pic" class="pic-info-card">
                <div>
                    <img class="d-block w-100" src="{{pic.img_src}}">
                    <span>Camera name = {{pic.camera.name}}</span><br/>
                    <span>Full name = {{pic.camera.full_name}}</span><br/>
                    <span>Landing date = {{pic.rover.landing_date}}</span>
                </div>
            </div>
            <img class="d-block w-100" src="{{pic.img_src}}">
        </div>
    </div>
</div>