@import "../styles/variables";
.nav-link {
    color: $linkColor !important;
    &:hover {
        cursor: pointer;
        color: $textDefaultColor !important;
        text-decoration: underline !important;
    }
    ;
}

.app-logo {
    font-size: 36px;
    padding: $padding;
}