@import "app/styles/variables";

*{
    background: $backgroudColor;
    color: $textDefaultColor;
}
.carousel-control-next, .carousel-control-prev{
    width: 5%;
    &:hover{
        background: $backgroudColor;
        opacity: .5;
    }
}
